*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
    width: auto;
}
body{
    background-image: url('./bg-intro-desktop.png');
    background-color: hsl(0, 100%, 74%);
    font-size: 16px;
    max-width: 1440px;
}
main{
    display: grid;
    grid-template-columns: 50% 50%; 
    height: 100vh;
    align-items: center;
    padding: 100px;
    gap: 10px;
    font-family: 'Poppins', sans-serif;
}
.write{
    padding: 80px;
}
.write h1{
    color: white;
    font-weight: 700;
    font-size: 2.5em;
    margin-bottom: 20px;
}
.write h5{
    color: hsl(247, 23%, 92%);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

form{
    background-color: white;
    margin: auto;
    padding: 2em;
    border-radius: 5px;
    box-shadow: 0 5px rgba(181, 99, 103, 0.5);
    font-family: 'Poppins', serif;
}

input, button{
  width: 100%;
  padding: 10px;
  border-width: 1px;
  border-radius: 4px;
  border-color: hsl(87, 52%, 92%);
  border-style: solid;
  box-sizing: border-box;
  outline: none;
  margin-bottom: 10px;
  font-family: 'Poppins', serif;
  font-weight: 600;
}
.trial {
    background-color: hsl(248, 32%, 49%);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 5px rgba(181, 99, 103, 0.5);
    border: none;
    color: white;
    margin-bottom: 20px;
}
.trial span{
    font-weight: 400;
}

.form form input:focus {
    border-style: solid;
    border-width: 1px;
    border-color: hsl(249, 10%, 26%);
}

.entry[data-error] .input{
    border-color: hsl(355, 70%, 46%);
    color: hsl(355, 70%, 46%);
    background: url(./icon-error.svg) no-repeat scroll 7px 7px;
    background-position: 95% 50%;
}

.entry-field[data-error]::after {
    content: attr(data-error);
    font-size: 0.5em;
    color: hsl(0, 100%, 74%);
    display: flex;
    justify-content: flex-end;
    font-style: italic;
}

.reg_btn{
    background-color: hsl(154, 59%, 51%);
    border: none;
    font-family: 'Poppins';
    font-weight: 500;
    color: white;
    box-shadow: 0 3px rgb(55,181,125);
    
}
.reg_btn:hover{
    background-color: #77e2b4;
    cursor: pointer;
}
.form_area{
    width: 90%;
}

h6{
    color: hsl(246, 25%, 77%);
    text-align: center;
    font-size: 0.58rem;
    font-weight: 500;
}
h6 span{
    color: hsl(0, 100%, 74%);
    font-weight: 700;
}